body{
  background-color: #02010a;
  font-family: "DancingScript-Regular";
  margin: 5px 35px;
}

@font-face {
  font-family: "DancingScript-Regular";
  src: url("../font/src/DancingScript-Regular.otf");
}

.titulo h1{
text-shadow:2px 2px black;
color: white;
font-size: 50px !important;
}

header{
background-color: #5b7989;
border-radius: 10px 10px 0 0;
display: flex;
flex-direction: row;
}

header a{
color: white;
}
.titulo {
margin-left: 25px;
}

.menu {
  margin: auto;

}
.menu a{
  padding: 0px 15px 10px 15px;
  font-size: 25px;
}

header{
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 150%;
    width: 100%;
  }

  to {
    margin-top: -5%;
    width: 100%;
  }
}

@media (max-width:900px) {
header{
display: flex;
flex-direction: column;
text-align: center;
}
}

#contenedorfoto{
  margin: auto;
  background-color: #d5c75f;
  border: 1px;
}

#secundario{
width:100%;
display:flex;
flex-flow: row wrap;
}

div[class^="fotito"]{
width:33.3%;
}

img{
width:90%;
padding:5%;
}

.fotito1 img{
  -webkit-filter: blur(10px);
	filter: blur(10px);
}

.fotito2 img{
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.fotito3 img{
  -webkit-filter: sepia(90%);
	filter: sepia(90%);
}

.fotito4 img{
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.fotito6 img{
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

@media only screen and (max-width: 900px) {

#contenedorfoto{
width:100%;
}
 div[class^="fotito"]{
 width:100%;
}
}

footer{
  width: 100%;
  height: 100%;
  background-color: #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#cuatrocolumnas div h1{
  color: black;
  font-size: 50px !important;
}

#cuatrocolumnas{
  display: flex;
  flex-direction: row;
  margin: auto;
  border: 1px;
  margin-left: 20px;
}

#cuatrocolumnas div{
width: 25% !important
}

.contacto{
  padding: 0 2%;
  width: 100%;
}

.logo {
  float: left;
  width: 8%;
  height: 13px;
  padding: 0px;
}

.contacto3 p{
width:100%;
}

@media (max-width:900px) {
#cuatrocolumnas{
  display: flex;
  flex-direction: column;
  height: 1050px;
  text-align: center;
}
div[class^="contacto"]{
  display: block;
  width: 100% !important;
}
.contacto3 p {
display: flex;
flex-direction: row;
}
}
